svg {
    min-height: 600px;
}

input {
    display: block;
    margin: 0 auto;
    width: 80%;
}

label {
    padding-left: 10%;
}

.book_title {
    line-height: 5vw;
}

.recovery_window {
    position: absolute;
    margin: 0 auto;
    left: 30%;
    top: calc(50% - 20vw);
    width: 40%;
    background-color: yellow;
    border-style: solid;
    border-color: orange;
}

.image_tecnm {
    position: relative;
    left: 8vw;
    top: 6vh;
    width: 11vw;
    height: 6.77vw;
    min-width: 130px;
    min-height: 80px;
}

.image_iti {
    position: relative;
    left: 17vw;
    top: 6vh;
    width: 6.77vw;
    height: 6.77vw;
    min-width: 80px;
    min-height: 80px;
}

.leftside_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 54%;
    height: 100%;
}

.upside {
    display: none;
}

.rightside {
    background-image: url("../images/ClosedBook.png");
    background-size: cover;
    width: 30vw;
    height: 39.5vw;
    position: absolute;
    top: calc(50% - 19.75vw);
    left: calc(75% - 15vw);
}

#login_form {
    position: relative;
    left: 0.5vw;
    top: 0.75vw;
}

@media (max-width: 768px) {
    label {
        padding-left: 10%;
        font-size: 4.25vw;
    }

    h1 {
        font-size: 7.5vw;
    }

    p, a {
        font-size: 4.25vw;
    }

    input {
        width: 80%;
        font-size: 4.25vw;
    }

    button {
        padding: 0.75vw 3vw;
        margin: 1.5vw 1.5vw;
        font-size: 4.25vw;
    }

    .vertical_spacing {
        text-align: left;
        margin: 2vw 0 2vw 1vw;
    }

    .leftside {
        display: none;
    }

    .tab {
        padding-left: 10%;
    }

    .leftside_bg {
        width: 100%;
    }
    
    .book_title {
        line-height: 6vw;
        margin-bottom: 6vw;
    }

    .image_tecnm {
        position: relative;
        left: 2%;
        top: 30px;
        width: 18vw;
        height: 11vw;
        min-width: 0;
        min-height: 0;
    }
    
    .image_iti {
        position: relative;
        left: 65%;
        top: 30px;
        width: 11vw;
        height: 11vw;
        min-width: 0;
        min-height: 0;
    }

    .upside {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20%;
    }

    .rightside {
        position: absolute;
        left: calc(50% - 40vw);
        top: max(20%, 100px + 6vw);
        width: 80vw;
        height: 105.2vw;
        margin: 0 auto;
        text-align: center;
    }

    .vertical_spacing {
        margin: 0.425vw 0;
    }

    #login_form {
        position: relative;
        left: 0.5vw;
        top: 6vw;
    }

    .recovery_window {
        width: 70%;
        left: 15%;
        top: calc(50% - 25vw);
    }
}