.selectize-control.plugin-drag_drop.multi>.selectize-input>div.ui-sortable-placeholder{
    visibility:visible!important;
    background:#fff!important;
    background:rgba(0,0,0,.06)!important;
    border:0 none!important;
    -webkit-box-shadow:inset 0 0 12px 4px #fff;
    box-shadow:inset 0 0 12px 4px #fff
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after{
    content:'!';
    visibility:hidden
}

.selectize-control.plugin-drag_drop .ui-sortable-helper{
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.2);
    box-shadow:0 2px 5px rgba(0,0,0,.2)
}

.selectize-dropdown-header{
    position:relative;
    padding:5px 8px;
    border-bottom:1px solid #fff;
    background:#fff;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0
}

.selectize-dropdown-header-close{
    position:absolute;
    right:8px;
    top:50%;
    color:#000;
    opacity:.4;
    margin-top:-12px;
    line-height:20px;
    font-size:1.7vw!important
}

.selectize-dropdown-header-close:hover{
    color:#000
}

.selectize-dropdown.plugin-optgroup_columns .optgroup{
    border-right:1px solid #f2f2f2;
    border-top:0 none;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child{
    border-right:0 none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before{
    display:none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header{
    border-top:0 none
}

.selectize-control.plugin-remove_button [data-value]{
    position:relative;
    padding-right:24px!important
}

.selectize-control.plugin-remove_button [data-value] .remove{
    z-index:1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:17px;
    text-align:center;
    font-weight:700;
    font-size:12px;
    color:inherit;
    text-decoration:none;
    vertical-align:middle;
    display:inline-block;
    padding:2px 0 0 0;
    border-left:1px solid #0073bb;
    -webkit-border-radius:0 2px 2px 0;
    -moz-border-radius:0 2px 2px 0;
    border-radius:0 2px 2px 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.selectize-control.plugin-remove_button [data-value] .remove:hover{
    background:rgba(0,0,0,.05)
}

.selectize-control.plugin-remove_button [data-value].active .remove{
    border-left-color:#00578d
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover{
    background:0 0
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove{
    border-left-color:#fff
}

.selectize-control.plugin-remove_button .remove-single{
    position:absolute;
    right:0;
    top:0;
    font-size:23px
}

.selectize-control{
    position:relative;
}

.selectize-dropdown,.selectize-input,.selectize-input input{
    color:black;
    font-family:inherit;
    -webkit-font-smoothing:inherit
}

.selectize-control.single .selectize-input.input-active,.selectize-input{
    background:#fff;
    cursor:text;
    display:flex
}

.selectize-input{
    border:1px solid #707070;
    padding:2px 8px;
    display:flex;
    width:100%;
    overflow:hidden;
    position:relative;
    z-index:1;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    white-space: nowrap;
}

.selectize-control.multi .selectize-input.has-items{
    padding:2px 8px;
    background-color:white;
}

.selectize-input.full{
    background-color:white
}

.selectize-input.disabled,.selectize-input.disabled *{
    cursor:default!important
}

.selectize-input.focus{
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.15);
    box-shadow:inset 0 1px 2px rgba(0,0,0,.15)
}

.selectize-input>*{
    vertical-align:baseline;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1
}

.selectize-control.multi .selectize-input>div{
    cursor:pointer;
    margin:0 3px 0 0;
    padding:0px 6px;
    background:#1da7ee;
    color:#fff;
    border:1px solid #0073bb
}

.selectize-control.multi .selectize-input>div.active{
    background:#92c836;
    color:#fff;
    border:1px solid #00578d
}

.selectize-control.multi .selectize-input.disabled>div,.selectize-control.multi .selectize-input.disabled>div.active{
    color:#fff;
    background:#d2d2d2;
    border:1px solid #aaa
}

.selectize-input>input{
    display:inline-block!important;
    padding:0!important;
    min-height:0!important;
    max-height:none!important;
    max-width:100%!important;
    margin:0 1px!important;
    border:0 none!important;
    background:0 0!important;
    text-align:left!important;
    line-height:inherit!important;
    user-select:auto!important;
    -webkit-user-select:auto!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}

.selectize-input>input::-ms-clear{
    display:none
}

.selectize-input>input:focus{
    outline:0!important
}

.selectize-input::after{
    content:' ';
    display:block;
    clear:left
}

.selectize-input.dropdown-active::before{
    content:' ';
    display:block;
    position:absolute;
    background:#f0f0f0;
    height:1px;
    bottom:0;
    left:0;
    right:0
}

.selectize-dropdown{
    position:absolute;
    z-index:10;
    border:1px solid #707070;
    background:#fff;
    margin:-1px 0 0 0;
    border-top:0 none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    white-space: nowrap;
}

.selectize-dropdown [data-selectable]{
    cursor:pointer;
    overflow:hidden
}

.selectize-dropdown [data-selectable] .highlight{
    background:rgba(255, 255, 0, 0.5);
}

.selectize-dropdown .optgroup-header,.selectize-dropdown .option{
    padding:5px 8px
}

.selectize-dropdown .option,.selectize-dropdown [data-disabled],.selectize-dropdown [data-disabled] [data-selectable].option{
    cursor:inherit;
    opacity:.5
}

.selectize-dropdown [data-selectable].option{
    opacity:1
}

.selectize-dropdown .optgroup:first-child .optgroup-header{
    border-top:0 none
}

.selectize-dropdown .optgroup-header{
    color:black;
    background:white;
    cursor:default
}

.selectize-dropdown .active{
    background-color:#007bff;
    color:white;
    cursor:pointer
}

.selectize-dropdown .active.create{
    color:black
}

.selectize-dropdown .create{
    color:black
}

.selectize-dropdown-content{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:200px;
    -webkit-overflow-scrolling:touch
}

.selectize-control.single .selectize-input,.selectize-control.single .selectize-input input{
    cursor:pointer;
}

.selectize-control.single .selectize-input.input-active,.selectize-control.single .selectize-input.input-active input{
    cursor:text
}

.selectize-control.single .selectize-input:after{
    content:' ';
    display:block;
    position:absolute;
    top:50%;
    right:15px;
    margin-top:-3px;
    width:0;
    height:0;
    border-style:solid;
    border-width:0.8vw 0.8vw 0 0.8vw;
    border-color:black transparent transparent transparent
}

.selectize-control.single .selectize-input.dropdown-active:after{
    margin-top:-4px;
    border-width:0 0.8vw 0.8vw 0.8vw;
    border-color:transparent transparent black transparent
}

.selectize-control.rtl.single .selectize-input:after{
    left:15px;
    right:auto
}

.selectize-control.rtl .selectize-input>input{
    margin:0 4px 0 -2px!important
}

.selectize-control .selectize-input.disabled{
    opacity:.5;
    background-color:#fff
}

.selectize-control.multi .selectize-input.has-items{
    padding-left:5px;
    padding-right:5px
}

.selectize-control.multi .selectize-input.disabled [data-value]{
    color:black;
    text-shadow:none;
    background:0 0;
    -webkit-box-shadow:none;
    box-shadow:none
}

.selectize-control.multi .selectize-input.disabled [data-value],.selectize-control.multi .selectize-input.disabled [data-value] .remove{
    border-color:gray
}

.selectize-control.multi .selectize-input.disabled [data-value] .remove{
    background:0 0
}

.selectize-control.multi .selectize-input [data-value]{
    background-color:#007bff;
    overflow:hidden;
    font-size: 1.25vw;
}

.selectize-control.multi .selectize-input [data-value].active{
    background-color:#005bb7;
    overflow:hidden;
    font-size: 1.25vw;
}

.selectize-control.single .selectize-input{
    background-color:white;
    background-image:white;
    background-repeat:repeat-x
}

.selectize-control.single .selectize-input,.selectize-dropdown.single{
    border-color:#707070
}

.selectize-dropdown .optgroup-header{
    padding-top:7px;
    font-weight:700;
}

.selectize-dropdown .optgroup{
    border-top:1px solid white
}

.selectize-dropdown .optgroup:first-child{
    border-top:0 none
}