* {
    font-family: 'Lucida Sans Unicode', 'Noto Sans', sans-serif;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

body {
    background-image: url("../images/WoodBackground.jpg");
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3vw;
}

h2 {
    text-align: center;
    font-size: 2.5vw;
}

p{
    text-align: center;
    font-size: 1.5vw;
}

input, label {
    font-size: 1.7vw;
}

button {
    padding: 0.425vw 2.125vw;
    margin: 0 1.5vw;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1.7vw;
}

input[type="radio"] {
    cursor: pointer;
    width: 1.25vw;
    height: 1.25vw;
    margin: 0.3vw;
}

button:hover {
    background-color: #005bb7;
}

button[disabled], button[disabled]:hover {
    background-color: gray;
}

button[yellow] {
    line-height: 2vw;
    background-color: #ffcf42;
    color: black;
    font-size: 1.4vw;
}

button[yellow]:hover {
    background-color: #c49f30;
}

button[orange] {
    background-color: #ff6a00;
    color: white;
}

button[orange]:hover {
    background-color: #a74500;
}

button[red] {
    background-color: red;
}

button[red]:hover {
    background-color: #a70000;
}

a {
    color: #03A6AC;
    display: block;
    font-size: 1.7vw;
    text-align: center;
}

.combobox_div {
    display: inline-block;
}

.horizontal_alignment {
    display: block;
    text-align: center;
    margin: 1.7vw auto;
}