<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Centro de Información en Línea</title>

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/menu_style.css">

        <script src="../javascripts/authentication.js"></script>
    </head>
    <body>
        <div class="book_list" rules>
            <div class="rules_book_grid">
                <div class="search_title"><h1 style="margin-bottom: 0;">Reglamento bibliotecario</h1></div>
                <div class="result_left">
                    <p>Con la finalidad de proteger y conservar en buen estado las instalaciones del Centro de Información y propiciar el medio ambiente adecuado a la investigación bibliográfica y al estudio, es requerido que los usuarios de este centro de servicio observen y respeten durante su estancia las siguientes normas de conducta</p>
                    <p><b>EL DESCONOCIMIENTO DE ESTAS NORMAS, PROCEDIMIENTOS Y SANCIONES NO EXCUSA SU INCUMPLIMIENTO.</b></p>
                    <p>1. Guardar SILENCIO en la biblioteca.</p>
                    <p>2. Prohibido fumar dentro del Centro de Información.</p>
                    <p>3. Prohibido introducir alimentos y bebidas a la sala de estudio.</p>
                    <p>4. No entrar con mochilas y/o bolsas voluminosas a la sala de estudio.</p>
                    <p>5. Conservar el mobiliario y equipo, no rayar mesas ni paredes.</p>
                    <p>6. No mutilar o extraer ilegalmente del Centro de Información cualquiera de las obras que conforman el acervo.</p>
                    <p>7. Abstenerse de ocultar dentro del Centro de Información para uso individual y exclusivo, cualquiera de los recursos bibliográficos disponibles.</p>
                    <p>8. Conducirse con respeto, por igual, hacia el personal de la Centro de Información y hacia otros usuarios de este centro de servicio.</p>
                    <p>9. Respetar las normas, los procedimientos y, en el caso, las sanciones establecidas en los diversos servicios que el Centro de Información ofrece.</p>
                    <p>10. Toda situación no prevista en el reglamento será resuelta por el Jefe del Centro de Información y las autoridades superiores del Instituto.</p>
                </div>
                <div class="result_right">
                    <p><b>PRESTAMOS</b></p>
                    <p>1.1. Para poder obtener en préstamo material bibliográfico, es necesario presentar la CREDENCIAL VIGENTE.</p>
                    <p>1.2. No se podrá utilizar la credencial de otra persona para solicitar libros en préstamo.</p>
                    <p>1.3. No hay renovaciones, no se puede llevar a préstamo el mismo libro que está devolviendo, salvo que haya transcurrido un día entre la fecha del último préstamo y la fecha en que se solicita. (Podrá llevarse otro igual, pero con diferente número de folio)</p>
                    <p>1.4. Los materiales, cuales quiera que se consulten, no son para uso individual y exclusivo del usuario por lo que deberá entregarlos al término del periodo arriba indicado de acuerdo al status designado.</p>
                    <p>1.5. Al solicitar el préstamo del material bibliográfico verifique que el número de folio del libro coincida con el del ticket. No se justificará ninguna diferencia al momento de devolver el material.</p>
                    <p>1.6. Debe verificar que el libro que solicita para préstamo no esté despegado, roto y/o mutilado. (en esas condiciones no se prestan) de lo contrario, en el momento de la devolución no se le aceptará hasta que lo haya reparado e incluso el reintegro de uno nuevo.</p>
                    <p>1.7. El material hemerográfico, de consulta, tesis, videos, bases de datos y discos compactos no podrán ser solicitados en préstamo externo.</p>
                    <p><b>DEVOLUCION</b></p>
                    <p>2.1 Es responsabilidad del usuario verificar que el libro que está devolviendo se le descargue de su cuenta en el sistema.</p>
                    <p>2.2 MULTAS. Si el libro lo entrega después de la fecha de devolución que indica el ticket, se hará acreedor de una multa de 4 hrs. De trabajo en actividades de la biblioteca por día de retraso y por cada libro.</p>
                    <p>2.3 PERDIDAS. En el caso de que el usuario pierda el libro deberá reponerlo.</p>
                </div>
                <div class="delete_button">
                    <button onclick="window.location.href = 'menu'">Volver</button>
                </div>
            </div>
        </div>
    </body>
</html>